#trots
{
    background-color: #F18C8E;
    color:  black;
}

#plezier
{
    background-color: #F0B7A4;
}

#zelfvertrouwen
{
    background-color: #F1D1B5;
}

#groei
{
    background-color: #568EA6;
}

#eigenheid
{
    background-color: #305F72;
}